

footer {
  display:flex;
  flex-direction: column;
  /* DO NOT CHANGE THESE */
  background-color:$bgColorTheme;
  color:$footerTxtColor;
  height:$footerHeight;
    nav, p {
      margin-left:2em;
    }

    nav {
      margin-top:1em;
     }

     p {
      margin-bottom:1em;
     }

}
