@media screen and (min-width: 35em) {

    .hero{
      h1 {
        margin-left:2em;
      }
      nav {
        display:flex;
        justify-content: flex-end;
      }
    }

    .posts {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
      article {
        flex:$mdiaTabletHdrPoArFlx;
      }
    }

    .sidebar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
      section {
        flex:$mdiaTabletHdrSdbrSecFlx;
      }
    }

    footer {
    flex-direction: row;
    align-items:center;
    font-size:$mediaTabletFootFontSize;
      nav {
        flex:$mdiaTabletFtrNvFlx;
        margin-left: 2em;
        text-align: left;
      }
      p{
        flex:$mdiaTabletFtrPaFlx;
        margin-right:2em;
        margin-left:0;
        text-align:right;
      }
      ul {
        margin-left:2;
        padding-left:0;
      }
    }

}
