@media screen and (min-width: 70em) {

  .hero {
    height:$headerHeight;
    flex-direction: row;
      h1 {
        align-self: center;
        margin-left:6em;
      }
      nav{
        flex:100%;
        align-items: flex-end;
      }
  }

  .container {
    justify-content: center;
    flex-direction:row;
      .posts {
        flex:0 1 65%;
        justify-content: center;
        margin-right:$mrgRight1m;

        article {
            flex:0 1 45%;
            justify-content: center;
        }
      }
    .sidebar {
      flex:0 1 20%;
      flex-direction:column;
      justify-content: flex-start;
      margin-right:$mrgRight1m;
        section {
        flex:0 1 15%;
        }
    }
  }


  footer {
    p {
        margin-bottom: 4em;
    }
    nav {
        margin-left:$mrgLeft2m;
    }
  }
}
