@media screen and (min-width: 35em) {

    .hero{
      h1 {
        margin-left:2em;
      }
      nav {
        display:flex;
        justify-content: flex-end;
      }
    }

    .posts {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
      article {
        flex:40%;
      }
    }

    .sidebar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
      section {
        flex:30%;
      }
    }

    footer {
    flex-direction: row;
    align-items:center;
    font-size:.9em;
      nav {
        flex:15%;
        margin-left:1em;
        text-align: left;
      }
      p{
        flex:60%;
        margin-right:2em;
        margin-left:0;
        text-align:right;
      }
      ul {
        margin-left:2em;
        padding-left:0;
      }
    }

}
