

.posts {
    /* DO NOT CHANGE THESE */
    color: $bgColortheme;

      article {
          margin:$mrgTb2Lr1m;
          /* DO NOT CHANGE THESE */
          background-color: $bgColorPosts;
          border: 1px solid $bgColortheme;
          height:$articleHeight; /* this is just so we can see the articles since they have no content */
      }

}
