

.posts {
    /* DO NOT CHANGE THESE */
    color: #444444;

      article {
          margin:2em 1em;
          /* DO NOT CHANGE THESE */
          background-color: #dddddd;
          border: 1px solid #444444;
          height: 20em; /* this is just so we can see the articles since they have no content */
      }

}
