


.sidebar {
  /* DO NOT CHANGE THESE */
  background-color: $bgSidebar;
  color: $bgColorTheme;
    section {
      @include artSecBoxStyle;
      height: $sidebarSectionHeight; /* this is just so we can see the articles since they have no content */
    }

}
