



.sidebar {
    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;

      section {
          margin:2em 1em;
          /* DO NOT CHANGE THESE */
          background-color: #dddddd;
          border: 1px solid #444444;
          height: 10em; /* this is just so we can see the articles since they have no content */
      }
}
