

$headerTxtColor: #ffffff;
$footerTxtColor: #eeeeee;
$bgColorPosts: #dddddd;
$bgColorTheme: #444444;
$bgSidebar:#aaaaaa;


$headerHeight:15em;
$articleHeight:20em;
$sidebarSectionHeight:10em;
$footerHeight:9em;

$hdrNavLiFntSz:1.25em;
$mediaTabletFootFontSize:.9em;


$hdrH1flx:70%;
$hdrNavflx:100%;

$mdiaTabletHdrPoArFlx:40%;
$mdiaTabletHdrSdbrSecFlx:30%;
$mdiaTabletFtrNvFlx:15%;
$mdiaTabletFtrPaFlx:60%;


$mdiaLrgHdrNavFlx:100%;
$mdiaLrgCntPoFlx:65%;
$mdiaLrgCntArtFlx:45;
$mdiaLrgCntSdbrFlx:20%;
$mdiaLrgCntSecFlx:15%;
