

$headerColor: #ffffff;
$footerColor: #eeeeee;
$bgColorPosts: #dddddd;
$bgColortheme: #444444;
$bgSidebar:#aaaaaa;


$headerHeight:15em;
$articleHeight:20em;
$sidebarSectionHeight:10em;
$footerHeight:9em;

$mrgTb2Lr1m:2em 1em;
$mrgLeft2m: 2em;//this need to be redone?
$mrgRight1m:1em;
$mrgLeft0:0;


$hdrNavLiFntSz:1.25em;
$mediaTabletFootFontSize:.9em;
