

$headerColor: #ffffff;
$footerColor: #eeeeee;
$bgColorPosts: #dddddd;
$bgColortheme: #444444;
$bgSidebar:#aaaaaa;


$headerHeight:15em;
$articleHeight:20em;
$sidebarSectionHeight:10em;

$mrg21m:2em 1em;
$mrgLeft2m: 2em;
