* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}


body {

    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}


.hero {

    /* DO NOT CHANGE THESE */
    background-color: #444444;
}
.hero h1 {

    /* DO NOT CHANGE THESE */
    color: #ffffff;
}


.posts {

    /* DO NOT CHANGE THESE */
    color: #444444;
}
.posts article {

    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
}


.sidebar {

    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
}

.sidebar section {


    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
}


footer {

    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
}






/******************FLEX*******************/
/*align the article parent and sidebar parent first

container is parent of .posts and .sidebar
then align articles within posts
and sections within sidebar


*/

/******************FLEX*******************/

.container {
display:flex;
justify-content: center;
}

.posts{
flex:0 1 65%;/*set how much width for .post to take up in its parent?*/
display:flex;
flex-wrap:wrap;
justify-content: center;
}

.posts > article {
  flex:0 1 40%;
  margin:2em 1em 1em 2em;
  box-sizing: border-box;
}


.sidebar {
  flex:0 1 15%;/*set how much width for .post to take up in its parent?*/
  justify-content: flex-start;
  padding:1em;
  display:flex;
  flex-direction:column;

}

.sidebar > section{
  margin:2em .5em;

  flex-basis: 15%;
  padding:1em 0;
  box-sizing: content-box;

}













/******************FLEX*******************/
