/*resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html, body, header, main, footer, section, aside, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0; }

ul {
  margin: 0; }

body {
  /* DO NOT CHANGE THESE */
  font-family: Verdana, Arial, sans-serif; }
  body a {
    color: #ffffff; }

.hero {
  flex-wrap: wrap;
  display: flex;
  /* DO NOT CHANGE THESE */
  background-color: #444444;
  position: relative; }
  .hero h1 {
    margin-bottom: 0;
    flex: 70%;
    /* DO NOT CHANGE THESE */
    color: #ffffff; }
  .hero nav {
    margin: 0;
    flex: 100%; }
  .hero ul {
    display: flex;
    list-style: none;
    padding: 0; }
  .hero li {
    margin: .5em 1em .5em 0;
    box-sizing: border-box;
    font-size: 1.25em; }
  .hero a {
    text-decoration: none; }

.container {
  display: flex;
  flex-direction: column; }

.posts {
  /* DO NOT CHANGE THESE */
  color: #444444; }
  .posts article {
    margin: 2em 1em;
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em;
    /* this is just so we can see the articles since they have no content */ }

.sidebar {
  /* DO NOT CHANGE THESE */
  background-color: #aaaaaa;
  color: #444444; }
  .sidebar section {
    margin: 2em 1em;
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em;
    /* this is just so we can see the articles since they have no content */ }

footer {
  display: flex;
  flex-direction: column;
  /* DO NOT CHANGE THESE */
  background-color: #444444;
  color: #eeeeee;
  height: 9em; }
  footer nav, footer p {
    margin-left: 2em; }
  footer nav {
    margin-top: 1em; }
  footer p {
    margin-bottom: 1em; }

@media screen and (min-width: 35em) {
  .hero h1 {
    margin-left: 2em; }
  .hero nav {
    display: flex;
    justify-content: flex-end; }

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row; }
    .posts article {
      flex: 40%; }

  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .sidebar section {
      flex: 30%; }

  footer {
    flex-direction: row;
    align-items: center;
    font-size: 0.9em; }
    footer nav {
      flex: 15%;
      margin-left: 2em;
      text-align: left; }
    footer p {
      flex: 60%;
      margin-right: 2em;
      margin-left: 0;
      text-align: right; }
    footer ul {
      margin-left: 2;
      padding-left: 0; } }
@media screen and (min-width: 70em) {
  .hero {
    height: 15em;
    flex-direction: row; }
    .hero h1 {
      align-self: center;
      margin-left: 6em; }
    .hero nav {
      flex: 100%;
      align-items: flex-end; }

  .container {
    justify-content: center;
    flex-direction: row; }
    .container .posts {
      flex: 0 1 65%;
      justify-content: center;
      margin-right: 1em; }
      .container .posts article {
        flex: 0 1 45;
        justify-content: center; }
    .container .sidebar {
      flex: 0 1 20%;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 1em; }
      .container .sidebar section {
        flex: 0 1 15%; }

  footer p {
    margin-bottom: 4em; }
  footer nav {
    margin-left: 2em; } }

/*# sourceMappingURL=blog.css.map */
