* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}




body {
    margin:0;
    /* DO NOT CHANGE THESE */
    font-family: Verdana, Arial, sans-serif;
}


a {
    color:#ffffff;
}

.hero {
    flex-direction: column;
    flex-wrap: wrap;
    display:flex;
    /* DO NOT CHANGE THESE */
    background-color: #444444;
}

.hero h1 {
    margin-bottom:0;
    flex:1;
    /* DO NOT CHANGE THESE */
    color: #ffffff;
}

.hero nav {
    margin:0;
}

.hero ul {
    display:flex;
    list-style: none;
    padding:0;
}

.hero li{
    margin:.5em 1em .5em 0;
    box-sizing: border-box;
}
.hero a {
    text-decoration:none;
}
.container {
    display:flex;
    flex-direction: column;
}
.posts {
    /* DO NOT CHANGE THESE */
    color: #444444;
}

.posts article {
    margin:2em 1em;
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 20em; /* this is just so we can see the articles since they have no content */
}

.sidebar {
    /* DO NOT CHANGE THESE */
    background-color: #aaaaaa;
    color: #444444;
}

.sidebar section {
    margin:2em 1em;
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
}


footer {
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
 /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
    height:9em;
}

footer nav {
    margin-top:1em;
}

footer p {
    margin-bottom:1em;
}

footer nav,
footer p {
    margin-left:2em;

}

@media screen and (min-width: 35em) {
.hero{background-color: blue;}

  .hero h1 {
    margin-left:2em;
  }
  .hero nav {
        display:flex;
        justify-content: flex-end;
  }




}


@media screen and (min-width: 70em) {
.hero{background-color: green;}

}
